body {
    background-color: #048004;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container {
    text-align: center; 
    max-width: 500px; 
}

label {
    font-size: larger;
}

button {
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    color: white;
    background: #144a02;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
}