<header>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="fixed-top">
    <header class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark"  target="_blank" href="https://www.facebook.com/greenspaceskillshub"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark"  target="_blank" href="https://twitter.com/GreenSpaceHub"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" target="_blank" href="https://www.linkedin.com/company/greenspace-com/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
      <div class="container">
        <a class="navbar-brand" rel="follow" target="_blank" href="/home"> GreenSpace Hub<img
            src="assets/images/logo.png" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

          <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
              <a class="nav-link" href="/home"><strong>Home</strong>
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/funcoes"><strong> Funções</strong></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/statusocorrencia"><strong>Status Ocorrência</strong> </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/tipoocorrencia"><strong>Tipos de Ocorrência</strong></a>
            </li>


          </ul>
        </div>
      </div>
    </nav>
  </div>


</header>

<main>

  <router-outlet></router-outlet>
</main>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; GreenSpace Hub<img src="assets/images/logo.png" width="50"
        height="50"></p>
  </div>
</footer>