body {
    background-color: #048004;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    background-image: url(https://images.unsplash.com/photo-1503785640985-f62e3aeee448?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 

}

.container {
    text-align: center; 
}

label {
    font-size: larger;
}

button {
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    color: white;
    background: #144a02;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
}
.criar {
    border: 8px solid #053d05; /* Cor verde escuro */
    padding: 20px; /* Adiciona um espaço interno para o texto */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    border-style:double;
    background-color: #3dcc0e;
}